	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/home">
					<img id="logo" src="/static/images/logo.png" alt="Atlanta HTML5 template">
				</a>
			</div>


			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">	

					<li><a href="/home">
						Trang chủ</a></li>

					<li><a href="/enterprise">
						Quản lý cơ sở</a></li>

				    <li class="dropdown">
				    	<a href="/phuongtien" class="dropdown-toggle" data-toggle="dropdown">
				    		Quản lý phương tiện<b class="caret"></b></a>
				    	<ul class="dropdown-menu">
				    		<li><a href="/phuongtien">
								Tìm kiếm phương tiện</a></li>
							<li><a href="/phuongtien/to">
								Danh mục phương tiện theo tổ</a></li>
						    <li><a href="/phuongtien/noibotri">
						    	Danh mục phương tiện theo nơi bố trí</a></li>
						    <li><a href="/phuongtien/chungloai">
						   		Danh mục phương tiện theo chủng loại</a></li>
				          </ul>
				    </li>

				    <li class="dropdown">
				    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				    		Thư viện <b class="caret"></b></a>
				    	<ul class="dropdown-menu">
				                 <li><a href="/law">
				                 Văn bản pháp luật</a></li>
				                 <li><a href="#">
				                 Tài liệu nghiệp vụ</a></li>
				          </ul>
				    </li>

				    <li class="dropdown">
				    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				    		Giới thiệu <b class="caret"></b></a>
				    	<ul class="dropdown-menu">
			                 <li><a href="#">
			                 Lịch sử thành lập và phát triển</a></li>
			                 <li><a href="/person">
			                 Bộ máy tổ chức</a></li>
			                 <li><a href="#">
			                 Sub Menu 3</a></li>
				          </ul>
				    </li>

				    <li><a href="/contact">
				    	Góp ý</a></li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->