{% extends "home/base.html" %}

{% block title %}
Thêm phương tiện bố trí tại {{ PT }}
{% endblock %}
{% block content %}

<!-- PHƯƠNG TIỆN THEO XE -->
{% if PT.phuong_tien_set.all|length > 0 %}
<h3>Phương tiện bố trí tại {{ PT.ten }}</h3>
<div class="row">
</div>
  <table>
    <tr style="font-weight: bold;">
      <td><center>Stt</center></td>
      <td class="col-sm-5">Tên phương tiện</td>
      <td class="col-sm-2"><center>Số lượng</center></td>
      <td class="col-sm-2"><center>Đvt</center></td>
      <td class="col-sm-2"><center>Chất lượng</center></td>
    </tr>
    {% for pt in PT.phuong_tien_set.all %}
    <tr>
      <td><center><span class="mycount"></span></center></td>
      <td style="padding: 0px 10px">
        <a href="{% url 'phuongtien:index' %}{{pt.id}}">{{ pt.ten }}</a>
      </td>
      <td><center>{{ pt.so_luong }}</center></td>
      <td><center>{{ pt.don_vi_tinh }}</center></td>
      <td><center>{{ pt.chat_luong }}</center></td>
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% if noti == 'success' %}
<h3>Thêm phương tiện bố trí tại {{ PT }}</h3>
<h4>Thêm thành công</h4>
{% endif %}

<form action="" method="POST">
    <br>
    <input style="margin-left: 350px" class="btn btn-action pull-left" id="btn" type="submit" value="Thêm"/>
    <br>
    <br>
    <br>
    {% csrf_token %}
    {{form}}
    <br>
    <input style="margin-left: 350px" class="btn btn-action pull-left" id="btn" type="submit" value="Thêm"/>
</form>
{% endblock %}
